* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.model-container {
  max-width: 900px;
  margin: 40px auto 20px;
  padding: 0 20px;
}

model-viewer {
  width: 600px;
  height: 600px;
}
.content {
  text-align: center;
  color: #bb1313; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button-group {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px; 
}

.btn {
  background-color: #bb1313; 
  color: white;
  padding: 12px 24px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  display: inline-block;
}

.btn:hover {
  background-color: rgb(228, 124, 55); 
}


.content h2 {
    margin-top: 45px;
  font-size: 3.5rem;
  color: #bb1313; 
  text-shadow:
    -1px -1px 0 #ff7c7c,
    0.5px -0.5px 0 #ff7c7c,
    -1px 1px 0 #ff7c7c,
    1px 1px 0 #ff7c7c;
    opacity: 90%;
} /* CÓDIGO DE GITHUB */

.content p {
  font-size: 1.5rem;
  margin-bottom: 25px;
  color: #f1f1f1;
  opacity: 90%;
}

.content button {
  background-color: #00c2ff;
  border: none;
  padding: 15px 35px;
  font-size: 1.1rem;
  color: #121212;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.3s ease;
}

.content button:hover {
  background-color: #0096d6;
}
